
 #mySidenav a {  /* id selector */
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {   /* id selector */
  left: 0;
  position:fixed;
}

#successp1 {            /* id selector */
  top: 70px;
  background-color:#8E3200  ;
}

#gallery {    /* id selector */
  top: 130px;
  background-color:#A64B2A ;
}

#diary {         /* id selector */
  top: 190px;
  background-color:#D7A86E ;
}

